[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
torchaudio = "*"
transformers = "*"
datasets = "*"
einops = "*"
scikit-learn = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
networkx = "*"
langchain = "*"
langgraph = "*"
langchain-openai = "*"
grandalf = "*"
pyppeteer = "*"
nest-asyncio = "*"
chromadb = "*"
langchain-community = "*"
langchainhub = "*"
tiktoken = "*"
beautifulsoup4 = "*"
youtube-transcript-api = "*"
pytube = "*"
ragatouille = "*"
python-dotenv = "*"
tensorboard = "*"
graphviz = "*"
openpyxl = "*"
aiohttp = "*"
spacey = "*"
presidio-analyzer = "*"
presidio-anonymizer = "*"
nbconvert = {extras = ["webpdf"], version = "*"}

[dev-packages]
torch-tb-profiler = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.5"
